.offspreads {
  font-size: 1.5em;
  border: solid 2px white;
}
.offspreads.is-over {
  border-color: red;
}

.offspread {
  margin: 12px;
}

.offspread[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.design-mode {
  background-color: aqua;
}
