.grid {
  overflow: scroll;
  height: 70vh;
  width: 80vw;
}

.header {
  font-weight: bold;
  text-align: right;
}

.cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

.splitter {
  position: absolute;
  right: 0;
  cursor: ew-resize;
  padding: 0 3px;
}


.selected {
  background-color: blue;
  color: white;
}