.App {
}

.grid {
  overflow: scroll;
  height: 70vh;
  width: 80vw;
}

.header {
  font-weight: bold;
  text-align: right;
}

.header[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.is-dragging {
  background-color: green !important;
}

.is-over {
  background-color: blue;
}

.cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

.splitter {
  position: absolute;
  right: 0;
  cursor: ew-resize;
  padding: 0 3px;
}

.selected {
  background-color: blue;
  color: white;
}
