.grid {
  overflow: scroll;
  height: 70vh;
  width: 80vw;
}

.header {
  font-weight: bold;
}

.cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.splitter {
  position: absolute;
  right: 0;
  cursor: ew-resize;
  
}
